img {
    max-width: 100%;
    display: block;
}

.main .logo-me {
    width: 160px;
    float: right;
    // padding-left: 2em;
    margin-left: 2em;
    filter: $logo-me;
    box-shadow: 5px 5px 5px rgb(128, 128, 128);
}

.site-header img {
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    filter: $logo-logo;
}

.rapport-img {
    filter: $img-rapport;
}

.gallery-image img {
    box-shadow: 5px 5px 5px rgb(128, 128, 128);
}
