$font-color: #000;
$font-alternative-color: #e63b2e;

$code-color: #f5f5f5;
$code-border: #ccc;


// $header-color: #e63b2e;
$header-color: #456645;

$navbar-color: #456645;

$footer-logo: #646664;

// $accent-color: #ee6c4d;
$accent-color: #646664;
$header-tech: #f5f5f5;

$background-color: #e1e6e1;
$background-alternative-color: #e0fbfc;

$logo-me: none;
$logo-logo: none;
$img-rapport: none;
