$font-color: #c0c0c0;
$font-alternative-color: #e63b2e;

// $code-color: #646664;
$code-border: #646664;

$code-color: none;


$nav-toggle: #333;


// $header-color: #A3A3A3;
$header-color: #c0c0c0;


$accent-color: #c0c0c0;
// $accent-color: #333333;
$header-tech: #4b4b4b;

$background-color: #181818;
$background-alternative-color: #e0fbfc;

$footer-logo: #646664;
$navbar-color: #a3a3a3;

$logo-me: brightness(0.7);
$logo-logo: brightness(1.5);
$img-rapport: brightness(0.7);
